.features {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  width: 100%;
}

.feature {
  margin: 0;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  color: var(--ifm-heading-color);

  &:hover {
    opacity: 0.75;
    color: var(--ifm-heading-color);
  }
}
