/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-align: left;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.main {
  padding: 2rem 0;
}

.twoCol {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: start;
}

@media screen and (max-width: 768px) {
  .twoCol {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
