.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: scroll;
  margin: 2em 0;
}

.image {
  min-width: 400px;
  /*width: 33%;*/
  width: auto;
  border: 1px solid var(--color-green-dark);
  margin-right: 1em
}